/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 13, 2014, 3:04:43 PM
    Author     : scalesr
*/

* {
    /* Disable all of those annoying little zoom and selection features that browsers sometimes have. */
    -webkit-user-drag: none;
    -webkit-user-modify: none;
    -webkit-highlight: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: Verdana, Geneva, sans-serif;
}

.background {
    background-image: url(img/background.png) !important;
    background-color: transparent !important;
}

.h-centered {
    text-align: center;
}

.no-margin {
    margin: 0;
}

.auto-margin {
    margin: auto;
}

.h-centered .ui-btn, .ui-btn.half {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.half {
    width: 50%;
}

.ui-btn.half, .ui-btn.quarter {
    max-width: 140px;
}

.stretch-left {
    left: 0;
}

.stretch-right {
    right: 0;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.stretch-top {
    top: 0;
}

.stretch-bottom {
    bottom: 0;
}

.stretch-bottom-ext {
    bottom: 60px;
}

.hidden {
    display: none;
}

.game-content {
}

.score {
    font-size: 1.3em;
    padding: 1em;
}

.guideline.vertical {
    width: 0;
    top: 0;
    bottom: 0;
}

.guideline.horizontal {
    height: 0;
    left: 0;
    right: 0;
}

.page-title {
    font-size: 1.8em;
}

.ui-btn {
    margin-bottom: 1em;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.margin-left {
    margin-left: 10px;
}

.margin-right {
    margin-right: 10px;
}

.margin-top {
    margin-top: 10px;
}

.no-border {
    border: none;
}

.game-title {
    padding: 7px;
    font-weight: bold;
    font-size: 1.3em;
}

.ad-bar {
    height: 50px;
    line-height: 50px;
}

.no-scroll {
    overflow: hidden !important;
}

.top-space {
    margin-top: 0.5em;
}

.tile, .button-tile {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 5px;
    text-shadow: none;
    color: #333333;
    position: relative;
}

.enable-transitions {
    -webkit-transition-duration: 0.7s;
    -webkit-transition-property: all;
    -webkit-transform-style: preserve-3d;
}

.flip-tile {
    -webkit-transform: rotateY(360deg);
    -webkit-transform-style: preserve-3d;
}

.fadein {
    opacity: 1.0;
}

.fadeout {
    opacity: 0.0;
}

/*@-webkit-keyframes flip-animation {
    0% {
        -webkit-transform: rotateY(0deg);
    }
    50% {
        -webkit-transform: rotateY(180deg);
    }
    100% {
        -webkit-transform: rotateY(0deg);
    }
}*/

.tile, .button-tile, .tileface {
    border-radius: 5px;
}

.flip-container {
    perspective: 800;
}

.tileface {
/*    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;*/
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
}

.bevel-shadow {
    -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75), inset 0 0 15px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.75), inset 0 0 15px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.75), inset 0 0 15px 0px rgba(50, 50, 50, 0.75);
}

.bevel {
    -webkit-box-shadow: inset 0 0 15px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    inset 0 0 15px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         inset 0 0 15px 0px rgba(50, 50, 50, 0.75);
}

.ui-corner-all {
    border-radius: 5px;
}

.button-tile {
    padding: 10px;
    font-size: 1.2em;
}

.button-tile .tile-text {
    display: table;
    width: 100%;
    height: 100%;
}

.button-tile .tile-text p {
    display: table-cell; 
    vertical-align: middle; 
    text-align: center; 
}

.light {
    color: #f6f6f6;
}

/*.flip {
    -webkit-backface-visibility: visible;
    -webkit-animation: flip-animation 0.7s ease-in-out;
}

@-webkit-keyframes flip-animation {
    0% {
        opacity: 1.0;
    }
    50% {
        -webkit-transform: rotate3d(0, 1, 0, 180deg);
        -moz-transform: rotate3d(0, 1, 0, 180deg);
        -o-transform: rotate3d(0, 1, 0, 180deg);
        transform: rotate3d(0, 1, 0, 180deg);
        opacity: 0;
    }
    100% {
        opacity: 1.0;
    }
}*/

/*
.fade {
    -webkit-animation: fade-animation 0.7s ease-in-out;
}

@-webkit-keyframes fade-animation {
    0% {
        opacity: 0;
    }
    100% {
        
    }
}*/

.v-centered {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.horizontal .ui-btn {
    left: auto;
    right: auto;
    margin: auto;
    width: auto;
}

.color5 {
    background-color: #e7d5c1;
}

.color2 {
    background-color: #90d3f0;
}

.color3 {
    background-color: #f6898c;
}

.color4 {
    background-color: #a1d162;
}

.color1 {
    background-color: #ffd761;
}

.color6 {
    background-color: #4FE7E7;
}

.color7 {
    background-color: #FFF12A;
}

.color8 {
    background-color: #C299F7;
}

.display-table {
    display: table;
}

.display-inline-block {
    display: inline-block;
}

.display-table.h-centered {
    margin: 0 auto;
}

.display-table.h-centered .ui-btn {
    width: auto;
}

.display-block {
    display: block;
}

.bold {
    font-weight: bold;
}

.ad-wall {
    display: block;
    border-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 1600px;
}

.sub-heading {
    font-size: 1.3em;
    margin-bottom: 4px;
    display: block;
}

.ui-btn.fixed-size {
    width: 5em;
}

.button-tile {
    text-decoration: none;
}

.button-tile.selected {
    box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75), inset 0 0 70px 0px #FFF12A;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75), inset 0 0 70px 0px #FFF12A;
    -moz-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75), inset 0 0 70px 0px #FFF12A;
}

.swiper {
    padding: 14px;
    font-size: 1.2em;
}

.ui-shadow {
    -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.75);
}

.quarter {
    width: 25%;
}

.quarter.ui-btn {
    margin-left: 5px;
    margin-right: 5px;
}