<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.coriander"
        version   = "1.0.0">
    
    <name>Flippee</name>
    
    <description>
        The simple to play, but hard to win puzzle game.
    </description>
    
    <author href="http://flippeethegame.blogspot.com/" email="richard.scales@live.com">
        Richard Scales
    </author>
    
    <preference name="permissions" value="none"/>
    <preference name="orientation" value="portrait" />
    
    <icon src="icon.png" />
    
    <gap:platform name="ios" />
    <gap:platform name="android" />
    
    <gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.4.0">
        <param name="APP_ID" value="714454361933938" />
        <param name="APP_NAME" value="Flippee" />
    </gap:plugin>
</widget>