<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.coriander"
        version   = "1.2.0">
    
    <name>Flippee!</name>
    
    <description>
        A simple to play, but hard to win puzzle game.
    </description>
    
    <author href="http://flippeethegame.blogspot.com/" email="richard.scales@live.com">
        Richard Scales
    </author>
    
    <!-- Preferences -->
    <preference name="permissions" value="none"/>
    <preference name="orientation" value="portrait" />
    <preference name="stay-in-webview" value="false" />
    
    <!-- Icons -->
    <icon src="icon.png" />
    
    <!-- Android Icons -->
    <platform name="android">
        <icon src="res/drawable-mdpi/ic_launcher.png" density="mdpi" />
        <icon src="res/drawable-hdpi/ic_launcher.png" density="hdpi" />
        <icon src="res/drawable-xhdpi/ic_launcher.png" density="xhdpi" />
        <icon src="res/drawable-xxhdpi/ic_launcher.png" density="xxhdpi" />
        <icon src="res/drawable-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
     </platform>
    
    <gap:platform name="ios" />
    <gap:platform name="android" />
    
    <!-- Plugins -->
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="com.phonegap.plugins.childbrowser" version="5.0.0" />
    <gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.4.0">
        <param name="APP_ID" value="714454361933938" />
        <param name="APP_NAME" value="Flippee" />
    </gap:plugin>

    <!-- Access -->
    <access origin="*" />
</widget>